*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #121212;
}
header{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    background-color: #121212;
    padding: 20px;
    z-index: 10;
}
header span:nth-child(1){
    margin-right: 80px;
}
header span:nth-child(3){
    margin-left: 80px;
}
header .menuBtn{
    display: none;
}
header nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}
header span a{
    color: #FFCD1C;
    text-decoration: none;
    font-family: "Exo 2", sans-serif;
}
header nav ul li, header span p{
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
}
header nav ul li{
    margin: 0px 20px;
    font-size: 0.9rem;
    cursor: pointer;
}
header nav ul li:hover{
    color: #FFCD1C;
}
header nav ul li a{
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.2s;
}
header nav ul li a:hover{
    color: #FFCD1C;
}
header span p{
    margin-right: 30px;
}
header span p i{
    color: #FFCD1C;
    margin-right: 5px;
}
header span{
    display: flex;
    align-items: center;
}
header span button{
    width: 200px;
    height: 45px;
    font-family: "Montserrat", sans-serif;
    background-color: #121212;
    border: none;
    color: #FFFFFF;
    outline: 1px solid #FFCD1C;
    border-radius: 15px;
    cursor: pointer;
}
header div.menuBtn{
    display: none;
}
main{
    width: 100%;
    height: max-content;
}
main .s1{
    width: 100%;
    height: 100vh;
    background-image: url(images/image1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px -50px 100px 20px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 120px;
    overflow: hidden;
}
main .s1::before{
    padding-top: 120px;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #1212129c;
    z-index: 1;
}
main .s1 .s1TopContent{
    width: 900px;
}
main .s1 .s1TopContent h1{
    color: #FFFFFF;
    font-size: 55px;
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
}
.yellowTxt{
    color: #FFCD1C;
}
main .s1 .s1TopContent p{
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-top: 20px;
}
main .s1 .s1TopContent button{
    width: 250px;
    height: 50px;
    background-color: #FFCD1C;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: 40px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
main .s1 .s1BottomContent{
    width: 1000px;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .s1 .s1BottomContent div{
    width: 300px;
    height: 130px;
    backdrop-filter: blur(2px);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 1px 1px 1px 0px #FFCD1C;
    cursor: help;
}
main .s1 .s1BottomContent div h2{
    color: #FFCD1C;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
main .s1 .s1BottomContent div p{
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
}

main .s1 .s1TopContent, main .s1 .s1BottomContent{
    z-index: 2;
    margin: 60px 0px;
}

main .s2{
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
main .s2 .s2Box1{
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main .s2 .s2Box1 div{
    width: 400px;
}
main .s2 .s2Box1 figure{
    width: 600px;
    height: 350px;
    overflow: hidden;
    background-image: url(images/image2.png);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    margin-left: 100px;
    cursor: all-scroll;
}
main .s2 .s2Box1 h1{
    color: #FFFFFF;
    font-family: "Exo 2", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 10px;
    position: relative;
    display: inline;
    cursor:help;
}
main .s2 .s2Box1 h1::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    bottom: 0px;
    left: 0;
    background: linear-gradient(to right, #121212, #FFCD1C, #121212);
}
main .s2 .s2Box1 p{
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
}

main .s2 .s2Box2{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
main .s2 .s2Box2 div{
    width: 250px;
    height: 70px;
    cursor: help;
}
main .s2 .s2Box2 div i{
    color: #FFCD1C;
    font-size: 2rem;
}
main .s2 .s2Box2 div p{
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
}

main .s3{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    overflow: hidden;
}
main .s3 div h1{
    color: #FFFFFF;
    font-family: "Exo 2", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 10px;
    position: relative;
    display: inline;
    left: -430px;
    top: -50px;
    cursor: help;
}
main .s3 div h1::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    bottom: 0px;
    left: 0;
    background: linear-gradient(to right, #121212, #FFCD1C, #121212);
}
main .s3 .s3MainBox{
    display: flex;
    align-items: center;
    gap: 0px 30px;
}
main .s3 .s3MainBox div{
    width: 180px;
    position: relative;
    cursor: help;
}
main .s3 .s3MainBox h2{
    color: #FFCD1C;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
main .s3 .s3MainBox p{
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
}
main .s3 .s3MainBox img{
    transform: translateX(70%);
    position: absolute;
}

main .s3 .s3MainBox .miniBox{
    width: 100%;
    height: 400px;
    margin-top: 100px;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}
main .s3 .s3MainBox .miniBox::before{
    padding-top: 120px;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #1212129c;
    left: 0;
    top: 0;
    z-index: 1;
}
main .s3 .s3MainBox .miniBox p{
    z-index: 2;
    position: relative;
}
main .s3 .miniBox1{
    background-image: url(images/pic1.jpg);
    background-position: center;
    background-size: cover;
}
main .s3 .miniBox2{
    background-image: url(images/pic2.jpg);
    background-position: center;
    background-size: cover;
    transform: translateY(10%);
}
main .s3 .miniBox3{
    background-image: url(images/pic3.png);
    background-position: center;
    background-size: cover;
}
main .s3 .miniBox4{
    background-image: url(images/pic4.png);
    background-position: center;
    background-size: cover;
    transform: translateY(10%);
}
main .s3 .miniBox5{
    background-image: url(images/pic5.jpg);
    background-position: center;
    background-size: cover;
}

main .s4{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
main .s4 h1{
    color: #FFFFFF;
    font-family: "Exo 2", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 10px;
    position: relative;
    display: inline;
    cursor:help;
    left: -380px;
    top: -50px;
}
main .s4 h1::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    bottom: 0px;
    left: 0;
    background: linear-gradient(to right, #121212, #FFCD1C, #121212);
}
main .s4 .gallery{
    width: 1000px;
    height: 70vh;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 0px;
}
main .s4 .gallery div{
    /* outline: 2px solid #FFCD1C; */
}
main .s4 .gallery div img{
    width: 100%;
    height: 100%;
}
main .s4 .gallery div:nth-child(1){
    grid-column: 1 / span 3;
    grid-row: 1;
}
main .s4 .gallery div:nth-child(2){
    grid-column: 4 / span 2;
    grid-row: 1;
    background-color: #FFFFFF;
}
main .s4 .gallery div:nth-child(n+3){
    grid-column: auto;
    grid-row: 2;
    margin: 0px 5px;
}
main .s4 .s4MainBox{
    width: 70%;
    height: 50vh;
    border-radius: 30px;
}
main .s4 .s4MainBox .swiperBox{
    width: 100%;
    height: 70vh;
}
.s4SwiperBox{
    width: 70%;
    height: 60vh;
    border-radius: 15px;
}
.s4SwiperBox div .swBox img{
    width: 100%;
}


main .s5{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
main .s5 h1{
    color: #FFFFFF;
    font-family: "Exo 2", sans-serif;
    font-size: 2.7rem;
    font-weight: 400;
    padding-bottom: 10px;
    position: relative;
    display: inline;
    cursor:help;
    left: -40%;
}
main .s5 h1::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    bottom: 0px;
    left: 0;
    background: linear-gradient(to right, #121212, #FFCD1C, #121212);
}
main .s5 .questions{
    width: 70%;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
main .s5 .questions .queBox{
    width: 500px;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    outline: 2px solid #FFCD1C;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    transition: all 0.3s;
}
main .s5 .questions .queBox .que{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
}
main .s5 .questions .queBox h2{
    font-weight: 400;
    font-size: 1.3rem;
}
main .s5 .questions .queBox .que .downAngle.active{
    transform: rotate(180deg);
}
main .s5 .questions .queBox h3{
    font-weight: 500;
    margin-top: 20px;
    font-size: 1.2rem;
}

main .s5 .questions .queBox .answer{
    width: 100%;
    transform: scale(0);
    transform-origin: top;
    opacity: 0;
    height: 0;
    transition: opacity 0.1s ease, transform 0.4s ease, height 0.5s;
}
main .s5 .questions .queBox .answer.active{
    transform: scale(1);
    opacity: 1;
    height: 140px;
}

main .s6{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    overflow: hidden;
}
main .s6 div{
    width: 80%;
    height: 80%;
    background-image: url(images/house_pic.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
main .s6 div::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #1212127b;
}
main .s6 div h1{
    font-family: "Exo 2", sans-serif;
    color: #FFFFFF;
    font-size: 50px;
    z-index: 2;
}
main .s6 div button{
    z-index: 2;
    width: 280px;
    height: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-color: #FFCD1C;
    border: none;
    color: #121212;
    outline: 1px solid #FFCD1C;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.2rem;
}
main .s7{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    overflow: hidden;
}
main .s7 .s7Box{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .s7 .s7Box .form_pic{
    width: 40%;
    height: 100%;
    background-image: url(images/form_pic.png);
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}
main .s7 .s7Box .formBox{
    width: 55%;
    height: 100%;
    background-color: #4545454D;
    margin-left: 30px;
    border-radius: 25px;
    text-align: center;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
main .s7 .s7Box .formBox h1{
    margin-top: 40px;
    margin-bottom: 40px;
}
main .s7 .s7Box .formBox form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .s7 .s7Box .formBox form input{
    width: 80%;
    height: 40px;
    border: 2px solid grey;
    background-color: transparent;
    outline: none;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px;
}
main .s7 .s7Box .formBox form textarea{
    min-width: 80%;
    max-width: 80%;
    height: 80px;
    border: 2px solid grey;
    background-color: transparent;
    outline: none;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px;
}
main .s7 .s7Box .formBox form button{
    width: 250px;
    height: 45px;
    background-color: #FFCD1C;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

footer{
    width: 100%;
    height: max-content;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px dashed #FFCD1C;
}
footer span p, footer nav a, footer span a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
footer nav, footer span{
    display: flex;
    flex-direction: column;
}
footer span a{
    margin-top: 40px;
}
footer nav a{
    margin-bottom: 10px;
}
footer span button{
    margin-top: 20px;
}
footer span .fBtn1{
    width: 200px;
    height: 45px;
    font-family: "Montserrat", sans-serif;
    background-color: #121212;
    border: none;
    color: #FFFFFF;
    outline: 1px solid #FFCD1C;
    border-radius: 15px;
    cursor: pointer;
}
footer span .fBtn2{
    width: 200px;
    height: 45px;
    background-color: #FFCD1C;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

@media(max-width: 768px){
    header{
        height: 70px;
        z-index: 5;
        justify-content: center;
    }
    header img{
        display: none;
    }
    header.head .menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #121212;
        transform: translateX(-200%);
        transition: all 0.7s ease;
        z-index: -1;
        padding-top: 30px;
    }
    header.head .menu ul{
        width: max-content;
        display: flex;
        flex-direction: column;
        align-items: self-start;
        margin-top: 30%;
        gap: 7px;
    }
    header.head nav ul li a{
        font-size: 1.2rem;
    }
    header.head .menu.active{
        transform: translateX(0%);
        z-index: -1;
    }
    header p{
        position: absolute;
        top: 80px;
        left: 10px;
        z-index: -1;
        backdrop-filter: blur(5px);
    }
    header span button{
        position: absolute;
        left: 10px;
    }
    header div.menuBtn{
        display: inline-block;
        position: absolute;
        right: 10px;
    }
    header div.menuBtn i{
        color: #FFFFFF;
        font-size: 1.6rem;
        z-index: 10;
    }

    main .s1{
        height: max-content;
    }
    main .s1 .s1TopContent{
        width: 90%;
        margin-top: 20%;
    }
    main .s1 .s1TopContent h1{
        font-size: 2rem;
    }
    main .s1 .s1TopContent p{
        font-size: 0.9rem;
    }
    main .s1 .s1TopContent button{
        font-size: 1rem;
        width: 200px;
        height: 45px;
    }
    main .s1 .s1BottomContent{
        flex-direction: column;
    }
    main .s1 .s1BottomContent div{
        margin-top: 20px;
    }
    main .s2{
        height: max-content;
    }
    main .s2 .s2Box1{
        width: 100%;
        height: max-content;
        flex-direction: column;
    }
    main .s2 .s2Box1 div{
        width: 100%;
    }
    main .s2 .s2Box1 figure{
        width: 100%;
        height: 200px;
        margin-left: 0;
        margin-top: 30px;
        border-radius: 15px;
        overflow: auto;
        background-size: cover;
    }
    main .s2 .s2Box1 h1{
        font-size: 2rem;
    }
    main .s2 .s2Box2{
        width: 100%;
        flex-direction: column;
        align-items: self-start;
    }
    main .s2 .s2Box2 div{
        width: 100%;
        height: 50px;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: start;
        margin-left: -20px;
        padding: 30px;
    }
    main .s2 .s2Box2 div i{
        font-size: 1.7rem;
    }
    main .s2 .s2Box2 div p{
        margin-top: 0;
        font-size: 0.9rem;
        margin-left: 7px;
    }

    main .s3{
        height: max-content;
    }
    main .s3 .s3MainBox{
        width: 100%;
        height: max-content;
        gap: 0px;
        flex-direction: column;
    }
    main .s3 .s3MainBox div{
        width: 100%;
        overflow: hidden;
        height: auto;
        border-radius: 0px;
    }
    main .s3 .s3MainBox .topBox{
        /* display: none; */
        margin-left: 5px;
        margin-top: 20px;
    }
    main .s3 .s3MainBox .topBox img{
        display: none;
    }
    main .s3 .s3MainBox .miniBox{
        margin-top: 10px;
        width: 100%;
        height: 200px;
        border-radius: 15px;
        overflow: hidden;
        transform: translateY(0);
    }
    main .s4{
        height: max-content;
        /* display: none; */
        width: 100%;
        justify-content: center;
    }
    main .s4 .gallery{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1. 1fr);
        justify-items: center;
        align-content: center;
        gap: 0px;
    }
    main .s4 .gallery div{
        width: 100%;
        height: max-content;
        padding: 5px 0px;
    }
    main .s4 .gallery div img{
        width: 85vw;
        border-radius: 15px;
    }
    main .s4 .gallery div:nth-child(1){
        grid-column: 1 / span 1;
        grid-row: 1;
    }
    main .s4 .gallery div:nth-child(2){
        grid-column: 1 / span 1;
        grid-row: 2;
        display: none;
    }
    main .s4 .gallery div:nth-child(3){
        grid-column: 1 / span 1;
        grid-row: 3;
    }
    main .s4 .gallery div:nth-child(4){
        grid-column: 1 / span 1;
        grid-row: 4;
    }
    main .s4 .gallery div:nth-child(5){
        grid-column: 1 / span 1;
        grid-row: 5;
    }
    main .s4 .gallery div:nth-child(6){
        grid-column: 1 / span 1;
        grid-row: 6;
        margin: 0px 5px;
    }
    main .s5 h1{
        font-size: 1.6rem;
        left: 0;
    }
    main .s5 .questions{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        margin-top: 30px;
    }
    main .s5 .questions .queBox{
        width: 100%;
        padding: 15px;
        margin-top: 20px;
        border-radius: 10px;
    }
    main .s5 .questions .queBox h2{
        font-size: 0.9rem;
    }
    main .s5 .questions .queBox h3{
        font-size: 0.9rem;
    }
    main .s5 .questions .queBox .answer.active{
        height: 140px;
    }
    main .s6{
        text-align: center;
        padding: 5px;
    }
    main .s6 div{
        width: 100%;
    }
    main .s6 div h1{
        font-size: 2rem;
    }
    main .s6 div button{
        font-size: 0.9rem;
        width: 230px;
        height: 40px;
    }
    main .s7{
        width: 100%;
        padding: 0;
    }
    main .s7 .s7Box{
        width: 100vw;
        padding: 10px;
    }
    main .s7 .s7Box h1{
        font-size: 1.2rem;
    }
    main .s7 .form_pic{
        display: none;
    }
    main .s7 .s7Box .formBox{
        width: 100%;
        height: max-content;
        margin-left: 0;
        padding: 5px;
    }
    main .s7 .s7Box .formBox form{
        padding: 20px;
    }
    main .s7 .s7Box .formBox form input{
        width: 100%;
    }
    
    main .s7 .s7Box .formBox form textarea{
        min-width: 100%;
        max-width: 100%;
    }
    main .s7 .s7Box .formBox form button{
        width: 230px;
        font-size: 0.9rem;
    }

    footer{
        flex-direction: column;
        align-items: start;
        gap: 20px;
        border-top: none;
        padding: 5px;
        font-size: 0.8rem;
    }
    footer span ,footer nav{
        /* border-left: 2px dashed grey; */
        padding: 10px;
    }
    footer span .fBtn1, footer span .fBtn2{
        height: 40px;
        margin-top: 10px;
        font-size: 0.8rem;
        width: 180px;
    }
}