*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #121212;
}
header{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: #121212;
    padding: 20px;
    z-index: 10;
}
header span:nth-child(1){
    margin-right: 80px;
}
header span:nth-child(3){
    margin-left: 80px;
}
header nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}
header span a{
    color: #FFCD1C;
    text-decoration: none;
    font-family: "Exo 2", sans-serif;
}
header nav ul li, header span p{
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
}
header nav ul li{
    margin: 0px 20px;
    font-size: 0.9rem;
    transition: color 0.2s;
    cursor: pointer;
}
header nav ul li:hover{
    color: #FFCD1C;
}
header span p{
    margin-right: 30px;
}
header span p i{
    color: #FFCD1C;
    margin-right: 5px;
}
header span{
    display: flex;
    align-items: center;
}
header span button{
    width: 200px;
    height: 45px;
    font-family: "Montserrat", sans-serif;
    background-color: #121212;
    border: none;
    color: #FFFFFF;
    outline: 1px solid #FFCD1C;
    border-radius: 15px;
    cursor: pointer;
}
main{
    width: 100%;
    height: max-content;
}
main .s1{
    width: 100%;
    height: 100vh;
    background-image: url(images/image1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px -50px 100px 20px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 120px;
    overflow: hidden;
}
main .s1::before{
    padding-top: 120px;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #1212129c;
    z-index: 1;
}
main .s1 .s1TopContent{
    width: 900px;
}
main .s1 .s1TopContent h1{
    color: #FFFFFF;
    font-size: 55px;
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
}
.yellowTxt{
    color: #FFCD1C;
}
main .s1 .s1TopContent p{
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-top: 20px;
}
main .s1 .s1TopContent button{
    width: 250px;
    height: 50px;
    background-color: #FFCD1C;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: 40px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
main .s1 .s1BottomContent{
    width: 1000px;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .s1 .s1BottomContent div{
    width: 300px;
    height: 130px;
    backdrop-filter: blur(2px);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 1px 1px 1px 0px #FFCD1C;
    cursor: help;
}
main .s1 .s1BottomContent div h2{
    color: #FFCD1C;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
main .s1 .s1BottomContent div p{
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
}

main .s1 .s1TopContent, main .s1 .s1BottomContent{
    z-index: 2;
    margin: 60px 0px;
}

main .s2{
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
main .s2 .s2Box1{
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main .s2 .s2Box1 div{
    width: 400px;
}
main .s2 .s2Box1 figure{
    width: 600px;
    height: 350px;
    overflow: hidden;
    background-image: url(images/image2.png);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    margin-left: 100px;
    cursor: all-scroll;
}
main .s2 .s2Box1 h1{
    color: #FFFFFF;
    font-family: "Exo 2", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 10px;
    position: relative;
    display: inline;
    cursor:help;
}
main .s2 .s2Box1 h1::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    bottom: 0px;
    left: 0;
    background: linear-gradient(to right, #121212, #FFCD1C, #121212);
}
main .s2 .s2Box1 p{
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
}

main .s2 .s2Box2{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
main .s2 .s2Box2 div{
    width: 250px;
    height: 70px;
    cursor: help;
}
main .s2 .s2Box2 div i{
    color: #FFCD1C;
    font-size: 2rem;
}
main .s2 .s2Box2 div p{
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
}

main .s3{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
main .s3 div h1{
    color: #FFFFFF;
    font-family: "Exo 2", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 10px;
    position: relative;
    display: inline;
    left: -430px;
    top: -50px;
    cursor: help;
}
main .s3 div h1::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    bottom: 0px;
    left: 0;
    background: linear-gradient(to right, #121212, #FFCD1C, #121212);
}
main .s3 .s3MainBox{
    display: flex;
    align-items: center;
    gap: 0px 30px;
}
main .s3 .s3MainBox div{
    width: 180px;
    position: relative;
    cursor: help;
}
main .s3 .s3MainBox h2{
    color: #FFCD1C;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
main .s3 .s3MainBox p{
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
}
main .s3 .s3MainBox img{
    transform: translateX(70%);
    position: absolute;
}

main .s3 .s3MainBox .miniBox{
    width: 100%;
    height: 400px;
    margin-top: 100px;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}
main .s3 .s3MainBox .miniBox::before{
    padding-top: 120px;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #1212129c;
    left: 0;
    top: 0;
    z-index: 1;
}
main .s3 .s3MainBox .miniBox p{
    z-index: 2;
    position: relative;
}
main .s3 .miniBox1{
    background-image: url(images/pic1.jpg);
    background-position: center;
    background-size: cover;
}
main .s3 .miniBox2{
    background-image: url(images/pic2.jpg);
    background-position: center;
    background-size: cover;
    transform: translateY(10%);
}
main .s3 .miniBox3{
    background-image: url(images/pic3.png);
    background-position: center;
    background-size: cover;
}
main .s3 .miniBox4{
    background-image: url(images/pic4.png);
    background-position: center;
    background-size: cover;
    transform: translateY(10%);
}
main .s3 .miniBox5{
    background-image: url(images/pic5.jpg);
    background-position: center;
    background-size: cover;
}

main .s4{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
main .s4 h1{
    color: #FFFFFF;
    font-family: "Exo 2", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 10px;
    position: relative;
    display: inline;
    cursor:help;
}
main .s4 h1::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    bottom: 0px;
    left: 0;
    background: linear-gradient(to right, #121212, #FFCD1C, #121212);
}
main .s4 .s4MainBox{
    width: 70%;
    height: 50vh;
    border-radius: 30px;
}
main .s4 .s4MainBox .swiperBox{
    width: 100%;
    height: 70vh;
}
.s4SwiperBox{
    width: 70%;
    height: 60vh;
    border-radius: 15px;
}
.s4SwiperBox div .swBox img{
    width: 100%;
}


main .s5{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
main .s5 h1{
    color: #FFFFFF;
    font-family: "Exo 2", sans-serif;
    font-size: 2.7rem;
    font-weight: 400;
    padding-bottom: 10px;
    position: relative;
    display: inline;
    cursor:help;
    left: -40%;
}
main .s5 h1::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    bottom: 0px;
    left: 0;
    background: linear-gradient(to right, #121212, #FFCD1C, #121212);
}
main .s5 .questions{
    width: 70%;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
main .s5 .questions .queBox{
    width: 500px;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    outline: 2px solid #FFCD1C;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    transition: all 0.3s;
}
main .s5 .questions .queBox .que{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
}
main .s5 .questions .queBox h2{
    font-weight: 400;
    font-size: 1.3rem;
}
main .s5 .questions .queBox .que .downAngle.active{
    transform: rotate(180deg);
}
main .s5 .questions .queBox h3{
    font-weight: 500;
    margin-top: 20px;
    font-size: 1.2rem;
}

main .s5 .questions .queBox .answer{
    width: 100%;
    transform: scale(0);
    transform-origin: top;
    opacity: 0;
    height: 0;
    transition: opacity 0.1s ease, transform 0.4s ease, height 0.5s;
}
main .s5 .questions .queBox .answer.active{
    transform: scale(1);
    opacity: 1;
    height: 140px;
}